<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/sign-up.css" />
		<title>Sign Up</title>
	</head>
	<body>
		<header>
			<p>Mega Rocket SA</p>
		</header>
		<main>
			<h1>REGISTER</h1>
			<a href="./index.html" class="back-arrow">
				<img src="../../assets/img/icon-back.png" alt="back arrow" />
			</a>
		</main>

		<script src="../js/sign-up.js"></script>
	</body>
</html>
